# Unity-specific
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/Assets/_Recovery/
/.vscode/
/Packages
/Assets/*
!/Assets/Scripts/
!/Assets/Scripts/**

# Visual Studio / Rider
.vs/
*.sln
*.suo
*.user
*.userprefs
*.csproj
.DS_STORE
/Assets/.DS_STORE
/Assets/SimpleNaturePack/.DS_STORE